@model IEnumerable<CoreBusiness.Product>

@if (Model != null && Model.Any())
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model)
			{
				<tr class="product-row" product-id="@product.Id">
					<td>@product.Name</td>
					<td>@product.Quantity</td>
				</tr>
			}
		</tbody>
	</table>
}