@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using WebApp.Models;
@model Category

<html>
    <head>
        <title>MVC Learning Web App</title>
    </head>

    <body>
        <h3>Category: @Model.Id</h3>
    </body>
</html>